body {
    background:#F7F7F7;    
    font-family: Verdana;
    max-width: 1000px;
    margin: auto;
}   

.subtitle {
    font-style: italic;
}

a {
    text-decoration: underline;
}

.photo{
    width: 80px;
    height: 80px;
    border-top: 10px;
    border-radius: 50%;
    margin-top: 30px;
}

#title, .subtitle, .post_title {
    text-transform: capitalize;
    color:#505050;
}

.post_title {
    color: green;
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
}

.post_article {
    background:#FFF;
    padding: 15px;
    border: 3px solid #505050;
    border-radius: 5px;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: initial;
    font-style: inherit;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}

.rodape {
    font-size: 10px;
    list-style-type: none;
    padding-left: 15px; 
    margin-top: 0;
}

.rodape li a {
    color: blue;
}
